<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel = "stylesheet" type = "text/css" href = '/themes/theme01/templates/style.css'>
		<meta charset = "utf8">
	</head>
<body>
<div class="wrap">
  <div class="page">
		<header>
			<div class = "header_content">
				<div class = "header_content_left">
					menu
				</div>
				<div class = "header_content_right">
					user info
				</div>
			</div>
		</header>
		<div class = "page_content">
		<!-- End of header -->
						{if isset($login)}
					aaaa
				{/if}
				{$username}